@charset "UTF-8";
/* CSS Document */

body{line-height:1.4;font-size:14px}
html, body, img, form, #header, #main, #content, #footer {margin: 0;padding: 0;border: 0;}

#wrapper{margin: 0 auto;padding: 0;}
#wrapper, #header, #main, #content, #footer{position: relative;z-index: 1;clear: both;}
#header{z-index: 2;}

#logo {display: block;position: absolute;}

.content-left, .content-center, .content-full, .content-right, .content-left-home, .content-right-home {position: relative;z-index: 1;}
.content-left, .content-center, .content-full, .content-left-home {float: left;}
.content-right, .content-right-home {float: right;}

/***** Common Formatting *****/

th, td {vertical-align: top;}

a {text-decoration: none;}
a:hover {text-decoration: underline;}
a:focus {outline: none;}

div.error, div.success {-moz-border-radius: 10px;-webkit-border-radius: 10px;color: #ffffff;padding: 15px;margin: 10px 0;}
div.error {background: #cd0a0a;}
div.success {background: #39b54a;}

p{font-size:14px;}
h1{font-size:48px;}
h2{font-size:36px;}
h3{font-size:24px;}
h4{font-size:21px;}
h5{font-size:18px;}
h6{font-size:16px;}

*:focus{outline: none;}


/***** Navigation Menus *****/


#drop-nav {position: absolute;list-style: none;margin: 0;padding: 0;}
#drop-nav li {float: left;display: inline;padding: 0;margin: 0;position:relative;}
#drop-nav li a {display: block;}
#drop-nav li a:hover, #drop-nav li a.current, #drop-nav li a.currentParent {text-decoration: none;}
#drop-nav li ul {position: absolute;top: -200em;display: block;padding: 0;margin: 0;z-index: 3;}
#drop-nav li ul li {float: left;position: relative;	clear: both;}

#vertical-nav {position: absolute;list-style: none;margin: 0;padding: 0;}
#vertical-nav li {display: block;padding: 0;margin: 0;position: relative;}
#vertical-nav li a {display: block;}
#vertical-nav li a:hover, #vertical-nav li a.current, #vertical-nav li a.currentParent {text-decoration: none;}
#vertical-nav li ul {position: absolute;left: 10em;top: 0;display: block;padding: 0;margin: 0;z-index: 3;}
#vertical-nav li ul li {position: relative;clear: both;}

#sec-nav {position: absolute;list-style: none;margin: 0;padding: 0;}
#sec-nav li {float: left;display: inline;padding: 0;margin: 0;position: relative;}
#sec-nav li a {display: block;float: left;}
#sec-nav li a:hover, #sec-nav li a.current, #sec-nav li a.currentParent {text-decoration: underline;}


/***** Global Classes *****/

.clear {clear: both;}
.small {font-size: 0.85em;}
.bold {font-weight: bold;}
.italic {font-style: italic;}
.underline {border-bottom: 1px solid;}
.highlight {background: #ffc;}
.noUlFormat {padding: 0;margin: 0;list-style: none;}
.noPadding {padding: 0;}
.noMargin {margin: 0;}
.noIndent {padding-left: 0;margin-left: 0;}
.noBullet {list-style: none;list-style-image: none;}
.left {float: left;}
.left-image {float: left;padding: 10px 10px 10px 0;}
.right {float: right;}
.right-image {float: right;padding: 10px 0 10px 10px;}

.doc {padding: 5px 0 5px 24px; background-repeat: no-repeat; background-position: 0 5px; display: block;}
.doc-folder {background-image: url(../images/icons/folder_horizontal_open.png);}
.doc-word {background-image: url(../images/icons/document_word.png);}
.doc-excel {background-image: url(../images/icons/document_excel.png);}
.doc-powerpoint {background-image: url(../images/icons/document_powerpoint.png);}
.doc-pdf {background-image: url(../images/icons/document_pdf.png);}
.doc-text {background-image: url(../images/icons/document_text.png);}